.music-player {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(126, 223, 223);
  padding: 30px;
  margin: 5px;
  border: 10px solid brown;
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__slider-container {
    display: flex;
    margin: 5px 0px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.slider {
  cursor: pointer;
  width: 200px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &__button {
    cursor: pointer;
  }
}

.fa-shuffle--active,
.fa-repeat--active {
  color: blue;
}