@import url(./modules/player/player.css);
@import url(./modules/song/song.css);

*{
  box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;	
	font-family: Exo_m;
}
html,body{
	width: 100%;
	min-width: 320px;
	min-height: 480px;
}
a,a:hover,a:link{
	text-decoration: none;
}

.root {
	min-width: 600px;
	max-width: 1200px;
	background-color: brown;
	padding: 20px;
	border: 2px solid white;
	margin: 100px auto;
}