.player {
	padding: 20px;
	border: 2px solid white;
  background-color: antiquewhite;
}

.player__title {
  padding: 5px;
  border-bottom: 2px solid grey;
  font-size: 35px;
}

.player__song-list {
  padding: 5px;
}

.player__song {
  display:flex;
  -ms-flex-align: start;
  margin: 5px 0;
  border-left: 1px solid grey;
  padding: 5px;
}

.song__title {
  color: red;
  margin-right: 10px;
  font-size: 20px;
}

.song__singer {
  margin-right: 10px;
  font-weight: 600;
  font-size: 20px;
}

.song__lyrics {
  margin-left: 30px;
  font-weight: 300;
  font-size: 20px;
}